<% include ../partials/header %>
<!-- ______________________bars/show.ejs___________________________________ -->
<!-- <p>views/bars/show.ejs</p> -->


<div class="container">
    <!-- side bar begin -->
    <div class="row">
        <div class="col-md-3">
            <p class="lead">myPhilly</p>
            <div class="list-group">
                <li class="list-group-item active">Info 01</li>
                <li class="list-group-item">Info 02</li>
                <li class="list-group-item">Info 03</li>
            </div>
        </div>
        <!-- side bar end -->

        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= bar.image%>"/>
                <div class="caption-full">
                    <h5 class="pull-right">$$$$$</h5>
                    <h3><a><%= bar.name %></a></h3>
                    <p><%= bar.description %></p>
                    <p>Submitted by
                        <strong><em><%= bar.author.username %></em></strong>
                    </p>
                    <span class="pull-right"><%= bar.date %></span>

                    <!-- ___________EDIT and DELETE buttons________________ -->
                    <% if (currentUser && bar.author.id.equals(currentUser._id)) { %>
                        <a href="/bars/<%= bar.id %>/edit" class="btn btn-warning btn-sm">Edit</a>

                        <form id="delete-form" action="/bars/<%= bar._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    <% } %>
                    <!-- ___________EDIT and DELETE buttons________________ -->
                </div>
            </div>

            <div class="well">
                <a href="/bars" class="btn btn-primary">
                    Back to Bars
                </a>

                <div class="pull-right">
                    <a href="/bars/<%= bar._id %>/comments/new" class="btn btn-success">
                        Add New Comment
                    </a>
                </div>


                <hr>
                <!-- _____________________comments start___________________ -->
                <% bar.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= comment.date %></span>
                            <p>
                                <%= comment.text %>
                            </p>

                            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <a class="btn btn-warning btn-xs"
                                    href="/bars/<%= bar._id %>/comments/<%= comment._id%>/edit">
                                    Edit
                                </a>

                                <form id="delete-form" action="/bars/<%= bar._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>
                            <% } %>
                            <hr>
                        </div>
                    </div>
                <% }); %>
                <!-- ____________________comments end______________________ -->
            </div>

        </div>
    </div>
</div>



<!-- ______________________________________________________________________ -->
<% include ../partials/footer %>
