<% include ../partials/header %>
<!-- ______________________________________________________________________ -->




<p>show.ejs</p>
<h1><%= bar.name %></h1>

<img src="<%= bar.image%>"/>

<p><%= bar.description %></p>

<p>
    <a href="/bars/<%= bar._id %>/comments/new" class="btn btn-success">
        Add New Comment
    </a>
</p>

<!-- comments start -->
<% bar.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }); %>
<!-- comments end -->


<!-- ______________________________________________________________________ -->
<% include ../partials/footer %>
